---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SettingsModal from "../components/SettingsModal.astro";
import BoredScreen from "../components/BoredScreen.astro";
import CompletionModal from "../components/CompletionModal.astro";
---

<Layout>
	<main class="h-dvh bg-stone-900">
		<Hero />
		<SettingsModal />
		<BoredScreen />
		<CompletionModal />
	</main>
</Layout>

<script src="../scripts/main.ts"></script>
