<div id="boredScreen" class="hidden h-full">
  <div class="h-full flex flex-col items-center justify-center">
    <p class="text-stone-100 text-center text-lg">stare and wait</p>
    <p class="text-stone-100 text-center text-lg">do absolutely nothing</p>
  </div>
  <div
    id="countdown"
    class="fixed bottom-4 right-4 text-stone-600 text-sm hidden"
  >
  </div>
</div>

