---
import Button from "./Button.astro";
---

<div id="completionModal" class="hidden">
  <div
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center p-8"
  >
    <div class="bg-stone-800 px-16 py-8 rounded-lg text-center">
      <div class="py-4"></div>
      <h3 class="text-stone-100 text-2xl mb-6">congrats</h3>
      <div class="py-4"></div>
      <Button id="doneBtn" variant="secondary"> im bored </Button>
    </div>
  </div>
</div>
