<header class="fixed top-0 right-0 container px-4 py-4">
    <nav class="flex justify-end gap-4">
        <a
            href="/about"
            class="text-stone-500 text-sm hover:text-stone-400 transition-colors underline"
        >
            about
        </a>
        <a
            href="https://github.com/gjtiquia/being-bored"
            target="_blank"
            rel="noopener noreferrer"
            class="text-stone-500 text-sm hover:text-stone-400 transition-colors underline"
        >
            github
        </a>
    </nav>
</header>
